@import "../abstracts/variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  color: #424242;
  display: block;
}

p {
  margin: 0 0 1rem 0;
}

.container {
  width: 100%;
  max-width: 767px;
  margin: auto;
  padding: 1rem;

  &.fluid {
    max-width: 100%;
  }
}

span {
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
}
.circular {
  border-radius: 50%;
}.rounded {
   border-radius: 10px;
}