:root {
  --margin-1: 0.25rem !important;
  --margin-2: 0.5rem !important;
  --margin-3: 1rem !important;
  --margin-4: 2rem !important;
}
* {
  color: #535252;
}
html {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  color: #424242;
}
p {
  margin: 0 0 1rem 0;
}
.container {
  max-width: 767px;
  margin: auto;
  padding: 0 1rem;
}
.card {
  background-color: #c9c2ff;
  border-radius: 10px;
  color: #424242;
  position: relative;
}
.card > .card-body {
  padding: 1rem;
}
.card > .card-body > .card-body-highlighted {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-style: italic;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1rem;
  display: inline-block;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ordered-italic-contents {
  padding-left: 1rem;
  margin: 0;
  font-style: italic;
}
.btn {
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  color: #424242;
  min-height: 2.5rem;
  min-width: 6.75rem;
  border-radius: 0.75rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 3px 12px 0px rgb(0 0 0 / 25%);
}

.btn:focus {
  box-shadow: none;
  outline: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-success {
  background-color: rgb(13, 218, 98);
}
.btn.btn-danger {
  background-color: rgb(243, 43, 36);
}

.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.mb-0 {
  margin-bottom: 0;
}
.explaination {
  text-align: center;
}
.explaination p {
  text-decoration: underline;
}
table {
  width: 100%;
  background-color: white;
  border: 1px solid #a398fb;
  border-collapse: collapse;
}
table tr td,
table tr th {
  width: 50%;
  padding: 0.75rem 0.5rem;
  font-weight: normal;
}
table tr:not(:last-child) td,
table tr:not(:last-child) th {
  border-bottom: 1px solid #a398fb;
}
table tr td:not(:last-child) {
  border-right: 1px solid #a398fb;
}

.mb-1 {
  margin-bottom: var(--margin-1);
}
.mb-2 {
  margin-bottom: var(--margin-2);
}
.mb-3 {
  margin-bottom: var(--margin-3);
}
.mb-4 {
  margin-bottom: var(--margin-4);
}

.mr-1 {
  margin-right: var(--margin-1);
}
.mr-2 {
  margin-right: var(--margin-2);
}
.mr-3 {
  margin-right: var(--margin-3);
}
.mr-4 {
  margin-right: var(--margin-4);
}

.ml-1 {
  margin-left: var(--margin-1);
}
.ml-2 {
  margin-left: var(--margin-2);
}
.ml-3 {
  margin-left: var(--margin-3);
}
.ml-4 {
  margin-left: var(--margin-4);
}

.mt-1 {
  margin-top: var(--margin-1);
}
.mt-2 {
  margin-top: var(--margin-2);
}
.mt-3 {
  margin-top: var(--margin-3);
}
.mt-4 {
  margin-top: var(--margin-4);
}

.mx-1 {
  margin: 0 var(--margin-1);
}
.mx-2 {
  margin: 0 var(--margin-2);
}
.mx-3 {
  margin: 0 var(--margin-3);
}
.mx-4 {
  margin: 0 var(--margin-4);
}

.my-1 {
  margin: var(--margin-1) 0;
}
.my-2 {
  margin: var(--margin-2) 0;
}
.my-3 {
  margin: var(--margin-3) 0;
}
.my-4 {
  margin: var(--margin-4) 0;
}
