:root {
  --margin-1: 0.25rem !important;
  --margin-2: 0.5rem !important;
  --margin-3: 1rem !important;
  --margin-4: 2rem !important;
}
* {
  color: #535252;
}

.ordered-italic-contents {
  padding-left: 1rem;
  margin: 0;
  font-style: italic;
}

.explaination {
  text-align: center;
}
.explaination p {
  text-decoration: underline;
}
table {
  width: 100%;
  background-color: white;
  border: 1px solid #a398fb;
  border-collapse: collapse;
}
table tr td,
table tr th {
  width: 50%;
  padding: 0.75rem 0.5rem;
  font-weight: normal;
}
table tr:not(:last-child) td,
table tr:not(:last-child) th {
  border-bottom: 1px solid #a398fb;
}
table tr td:not(:last-child) {
  border-right: 1px solid #a398fb;
}